body {
  font-family: 'Dancing Script';
  background-color: black;
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: underline;
  color: white;
}

.link_actual {
  text-decoration: none !important;
}

.link_negro {
  text-decoration: underline;
  color: black !important;
}

.menu_item {
  display: inline;
  padding: 0px 3px 0px 3px;
}

#paisajes {
  transition-property: border, box-shadow, transform;
  transition-duration: 1s, 1s, 1s;
}

#paisajes:hover {
  border: 2px solid #82c3a6;
  box-shadow: 2px 2px 2px #82c3a6;
  transform: rotate(10deg);
}

#retratos {
  transition-property: border, box-shadow, transform;
  transition-duration: 1s, 1s, 1s;
}

#retratos:hover {
  border: 2px solid #82c3a6;
  box-shadow: 2px 2px 2px #82c3a6;
  transform: translate(20px,-5px);
}

img[src$='.svg']{
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  width: 10%;
}

@-webkit-keyframes slidein {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-top: 0%;
  }
}

@media (min-width: 900px) {
  header {
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    height: 80px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    animation-name: slidein;
    animation-duration: 0.2s;
  }

  header h1 {
    float: left;
    padding-left: 10px;
  }

  nav {
    float: right;
    height: 100%;
  }

  .menu {
    list-style-type: none;
    padding: 20px 0px;
    float: right;
  }

  footer {
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo_footer {
    margin: 10px 10px 10px 10px;
    padding: 0;
  }

  .item_footer {
    margin: 0px 10px 0px 10px;
    padding: 0;
  }

  #contenido {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  #contenedor {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  #imagen_central {
    width: 100%;
    background-color: #82c3a6;
    text-align: center;
    order: 1;
  }

  #imagen_central img {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
  }

  #imagen_secundaria_izquierda {
    width: 50%;
    background-color: #d5c75f;
    text-align: center;
    order: 2;
  }

  #imagen_secundaria_izquierda img {
    width: 90%;
    margin-top: 10px;
    border: 1px solid black;
  }

  #imagen_secundaria_derecha {
    width: 50%;
    background-color: #d5c75f;
    text-align: center;
    order: 3;
  }

  #imagen_secundaria_derecha img {
    width: 90%;
    margin-top: 10px;
    border: 1px solid black;
  }

  #contenedor_footer {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-flow: row;
  }

  #contacto {
    width: 25%;
    text-align: left;
    order: 1;
  }

  #terminos {
    width: 25%;
    text-align: left;
    order: 2;
  }

  #redes_sociales {
    width: 25%;
    text-align: left;
    order: 3;
  }

  #derechos {
    width: 25%;
    text-align: left;
    order: 4;
  }
}

@media (max-width: 899px) {
  header {
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    height: 120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    animation-name: slidein;
    animation-duration: 0.2s;
    text-align: center;
  }

  .menu {
    list-style-type: none;
  }

  #contenido {
    width: 100%;
  }
}
